* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.mainHome {
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: center;
    position: relative;
    background: linear-gradient(to left, hsl(200, 95%, 94%), hsl(0, 3%, 89%) 50%, hsl(143, 21%, 84%) 75%, hsl(0, 2%, 98%) 75%);
}

.mainHome-mainBox {
    margin: auto;
    width: 80%;
    min-height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: whitesmoke;
    position: relative;

}

@media screen and (max-width:900px) {
    .mainHome-mainBox {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .mainHome-mainBox {
        width: 100%;
    }
}

h2,
h3,h4,h5,h6 {
    margin: auto;
    text-decoration:underline;
    color:red;
}

.mainHome-mainBox-flexHome {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    max-height:60vh;
    overflow-y:scroll;
    box-shadow:1px 1px 10px 15px grey;
}

.colDiv {
    box-shadow: 1px 1px 10px 6px grey;
    padding: 8px;
    margin: 1rem auto;
    /* display:flex;
align-items:flex-start;
justify-content:flex-start;
flex-direction:column; */


}
.address,.invoice{
    margin:1rem auto;
}
.colDivTotal,.colDivTotal>ul{
    margin:1rem auto;
    text-align:center;
    list-style-type:none;
   
}