<!DOCTYPE html>
<html lang="en">

<body style="position:relative;">
    <strong><a href="https://www.master-connect.ca"><h2>Master-connect.ca</h2></a></strong>

    <h3>Name:{{name|safe}}: basket price: ${{subTotal|safe}}</h3>


<ul style="background:lightgrey;padding:15px; width:50%;">Particulars:
    <li>address:{{address|safe}}</li>
    <li>email:{{email|safe}}</li>
    <li>cell:{{cell|safe}}</li>
    
    
</ul>
<ul style="background:lightgrey;padding:15px; width:50%;">Question(s):
    <li>Question1:{{question1|safe}}</li>
    <li>Question2:{{question2|safe}}</li>
    <li>Question3:{{question3|safe}}</li>
    <li>Question4:{{question4|safe}}</li>
    <li>Products:{{products|safe}}</li>
    <li>Services:{{services|safe}}</li>
    
</ul>
<ul style="background:lightgrey;padding:15px; width:50%;">Products/Services:
    
    <li>address:{{products|safe}}</li>
    <li>address:{{services|safe}}</li>
    
</ul>

<p> Until then,</p>

<p><strong> Yours Truly,</strong></p>
<hr style="width:50%;margin-left:0px;">
<h3><strong> Master-connect's Team </strong></h3>
<hr style="width:50%;margin-left:0px;">
<a href="https://www.master-connect.ca">www.master-connect.ca</a><br>
<img src="https://new-master.s3.ca-central-1.amazonaws.com/static/logo.png" style=" border-radius:5% 5% 25% 25%;border:1px solid rgb(0,0,20);width:100px;width:100px;" alt="www.master-connect.ca "/>
    
</body>
</html>