<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="position:relative;">
    <strong style="text-align:center;"><a href="https://www.master-connect.ca">
            <h2>Master-connect.ca</h2>
        </a></strong>
    <h3> {{name|safe}}, we have completed publishing your website.</h3>
    <div>
        <small style="margin:auto;">
            <ul style="background:lightgrey;padding:15px; width:100%;">Particulars:
                <li>user:{{username|safe}}</li>
                <li>{{address|safe}}</li>
                <li>{{address2|safe}}</li>
                <li>{{email|safe}}</li>
                <li>{{cell|safe}}</li>
                <li>New Website:{{new_website|safe}}</li>
                {% if extraSession_id %}
                <li>extra session id:{{extraSession_id|safe}}</li>
                {% endif %}
                <li>post session id:{{postSession_id|safe}}</li>
                <li>session id :{{session_id|safe}}</li>
                <li>completed services :{{taskNames|safe}}</li>
            </ul>
        </small>
    </div>
    <div>
    <p style="margin:auto;">
    Thank you for trusting us. We will continue to monitor your site to ensure that it operates continually. Please noticefy us about any additions you would like to have on an ongoing basis. We will send you emails upon maintenance requirements. 
    </p>
    <p style="margin:auto"> If you require anything. Please do not hesitate to contact us.</p>
    </div>

    
<p><a href="https://www.master-connect.ca/signin">Please Signin</a> to view your Post Services that are required to publish your site. These services include static storage spaces for pictures as well as user account used for purchasing ( if applicable), plus other services that you choosen.</p>
<p> Once complete, your new site will be published with confidence.</p>

<p> Until we next speak,</p>
<br/>
<p> Gary Wallace</p>
<p><strong> Yours Truly,</strong></p>
<hr style="width:50%;margin-left:0px;">
<h3><strong> Master-connect's Team </strong></h3>
<hr style="width:50%;margin-left:0px;">
<a href="https://www.master-connect.ca">www.master-connect.ca</a><br>
<img src="https://new-master.s3.ca-central-1.amazonaws.com/static/logo.png" style=" border-radius:5% 5% 25% 25%;border:1px solid rgb(0,0,20);width:100px;width:100px;" alt="www.master-connect.ca "/>

</body>

</html>