<!DOCTYPE html>
<html lang="en">

<body style="position:relative;">
    <strong><a href="https://www.master-connect.ca"><h2>Master-connect.ca</h2></a></strong>
    <h3> Requesting a Quote</h3>

    <h3>Name:{{name|safe}}</h3>


<ul style="background:lightgrey;padding:15px; width:50%;">Particulars:
    <li>email:{{email|safe}}</li>
    <li>cell:{{cell|safe}}</li>
    <li>company:{{company|safe}}</li>
    <li>site:{{site|safe}}</li>
    <li>content:{{content|safe}}</li>
    
    
</ul>


<p> Thank you,{{name|safe}} for sending us an email. We will contact you within 24 hours with a quote.</p>

<p><strong> Yours Truly,</strong></p>
<hr style="width:50%;margin-left:0px;">
<h3><strong> Master-connect's Team </strong></h3>
<hr style="width:50%;margin-left:0px;">
<a href="https://www.master-connect.ca">www.master-connect.ca</a><br>
<img src="https://new-master.s3.ca-central-1.amazonaws.com/static/logo.png" style=" border-radius:5% 5% 25% 25%;border:1px solid rgb(0,0,20);width:100px;width:100px;" alt="www.master-connect.ca "/>
    
</body>
</html>