<!DOCTYPE html>
<html lang="en">

<body style="position:relative;">
    <strong><a href="https://www.master-connect.ca"><h2>Master-connect.ca</h2></a></strong>
    <h3> Requesting a Request</h3>

    <h3>Name:{{name|safe}}</h3>


<ul style="background:lightgrey;padding:15px; width:50%;">Particulars:
    <li>Email:{{email|safe}}</li>
    <li>Request:{{question|safe}}</li>
</ul>
<h4 style="font-weight:bold;"> ENGLISH, BELOW</h4>
<div style="padding:1rem;border:1.5px solid grey;">
<p style="margin-left:10px;"> Dear, {{first_name|safe}},</p>
<h4> Answering your Request: /Répondre à votre demande:</h4>
<p>{{answer|safe}}</p>

<p> Please let us know if this satisfies your request.</p>
<p> just a note: we have a <a href="https://www.master-connect.ca/calculate" style="padding:0.25rem;border:1px solid red;font-size:110%">calculator</a> that will assist you in your request. It's built for business owners who are in need of revamping their website and are in need of critical development at a moderate cost. This calculator gives you the exact cost based on your requirements.</p>

<p> all you need is 5 minutes of your time to complete the yes / no questionaire</p>
<p>give it a try ! - it will help you.</p>

</div>

<h3 style="font-weight:bold;"> FRANCAIS, DESSOUS</h3>

<div style="padding:1rem;border:1.5px solid lightgrey;">
<p style="margin-left:10px;"> Dear, {{first_name|safe}},</p>
<h4> Answering your Request: /Répondre à votre demande:</h4>
<p>{{answer|safe}}</p>

<p>Merci de nous faire savoir si cela répond à votre demande.</p>

<p>Juste une note : nous avons une <a href="https://www.master-connect.ca/calculate" style="padding:0.25rem;border:1px solid red;font-size:110%">calculatrice</a> qui vous aidera dans votre demande. Il est conçu pour les propriétaires d'entreprise qui ont besoin de réorganiser leur site Web et qui ont besoin d'un développement critique à un coût modéré. Ce calculateur vous donne le coût exact en fonction de vos besoins.</p>

<p> il vous suffit de 5 minutes de votre temps pour répondre au questionnaire oui/non</p>
<p>Essaie ! - cela vous aidera.</p>
</div>


<p> We thank you, Mr./Mrs. {{last_name|safe}} for sending us an email.</p>
<p> Nous vous remercions, M./Mme. {{last_name|safe}} pour nous avoir envoyé un e-mail.</p>

<p><strong> Yours Truly/Votre sincèrement,</strong></p>
<hr style="width:50%;margin-left:0px;">
<h3><strong> Master-connect's Team / L'équipe de Master-connect </strong></h3>
<hr style="width:50%;margin-left:0px;">
<a href="https://www.master-connect.ca">www.master-connect.ca</a><br>
<img src="https://new-master.s3.ca-central-1.amazonaws.com/static/logo.png" style=" border-radius:5% 5% 25% 25%;border:1px solid rgb(0,0,20);width:100px;width:100px;" alt="www.master-connect.ca "/>
    
</body>
</html>