*{margin:0;padding:0;box-sizing:border-box;}

.arrowDown{
   color:"red";
}

@keyframes showText {
    from {opacity:0;transform:translateY(50%);}
    to{opacity:1;}
}
.footer{
box-shadow:1px 2px 1px 2px lightgrey,-1px -2px 1px 2px lightgrey;
padding:0.5rem;
z-index:100000;
}

.showReviewBtn{
    transform:translateX(-40%);
    transition: transform 1s ease-in-out;
}
.hideReviewBtn{
    transform:translateX(0%);
    transition: transform 1s ease-in-out;
}
@media screen and (max-width:900px){
    .showReviewBtn{
        transform:translateX(-35%);
        transition: transform 1s ease-in-out;
    }
}
@media screen and (max-width:600px){
    .showReviewBtn{
        transform:translateX(-30%);
        transition: transform 1s ease-in-out;
    }
}
