* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img.sixDegreeCalc {
    max-width:30%;
}

img.sixDegPic1{
    width:20%;
}
@media screen and (max-width:900px){
    img.sixDegPic1{
        width:50%;
    }
}
@media screen and (max-width:600px){
    img.sixDegPic1{
        width:100%;
    }
}